# BD Postgres (cfredenciales)
DB_NAME=traxo
DB_USER=traxo
DB_PASSWORD=

# JWT (expiracion en 24hrs)
JWT_SECRETO=
JWT_EXPIRACION_MS=86400000

# API key compartida entrte backend y micros
MICROS_API_KEY=
