# Seguridad
MICROS_API_KEY=

# Claude Vision
ANTHROPIC_API_KEY=

# Tests
TRAXO_TEST_FECHA=
TRAXO_TEST_CLAVE_RASTREO=
TRAXO_TEST_BANCO_EMISOR=
TRAXO_TEST_BANCO_RECEPTOR=
TRAXO_TEST_CUENTA_RECEPTORA=
TRAXO_TEST_MONTO=
